*,*::after,*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black  : #111111;
  --red    : #e15241;
  --dk-red : #c05a4b;
  --lt-blue: #bad9e5;
  --blue   : #294970;
  --yellow : #ae8f48;
  --silver : #d3d4cd;
}

.black { background-color: var(--black); }
.red { background-color: var(--red); }
.dk-red { background-color: var(--dk-red); }
.lt-blue { background-color: var(--lt-blue); }
.blue { background-color: var(--blue); }
.yellow { background-color: var(--yellow); }
.silver { background-color: var(--silver); }

body {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  min-height: 100vh;

}

.item {
  width: 90%;
  height: 90%;
  margin: 10px;
  box-shadow: inset -300px -300px     0 var(--black),
              inset  300px -300px     0 var(--red),
              inset -300px  300px     0 var(--blue),
              inset  300px  300px     0 var(--yellow),
                         0      0  20px var(--silver);
  color: white;
  transition: box-shadow ease-in-out .6s,
                   color ease-in-out .5s,
               transform ease-in-out .3s,
                  border ease-in-out .2s,
           border-radius ease-in-out .7s;
}
 
.item:hover {
  transform: translateY(-10px);
  border: 1px solid var(--silver);
  box-shadow: inset 0     0    0 transparent,
              inset 0     0    0 transparent,
              inset 0     0    0 transparent,
              inset 0     0    0 transparent,
                    0     0 20px var(--silver);
  color: transparent;
}